.project
*/.settings/
.settings/
bd-social/src/test/resources/jdbc.properties
bd-pay/.classpath
.idea/
bd-mingwang/src/main/resources/jdbc.properties
web/node_modules/
bd-test-support/.classpath
bd-products/.classpath
bd-products/.gitignore
bd-loteste/.classpath
bd-loteste/.gitignore
bd-lotaste/.classpath
bd-lotaste/.gitignore
bd-lotaste/src/main/webapp/static/libs/bs/js/.jscs.json
bd-lotaste/src/main/webapp/static/libs/bs/js/.jshintrc
bd-tool/.classpath
bd-tool/.gitignore
bd-crm/.classpath
bd-crm/.gitignore
bd-order/.classpath
bd-order/.gitignore
bd-bae/.classpath
bd-bae/.gitignore
bd-file-bcs/.classpath
bd-file-bcs/.gitignore
bd-file/.classpath
bd-file/.gitignore
bd-spider-web/.classpath
bd-lotaste-web/.classpath
bd-lotaste-web/.gitignore
